### Part 2: Cluster Analysis

In [65]:
import sys
import csv
import math
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import matplotlib.pyplot as plt
# from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

from sklearn.decomposition import PCA
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.metrics import silhouette_score
import scipy.cluster.hierarchy as shc

In [8]:
# Return a pandas dataframe containing the data set that needs to be extracted from the data_file.
# data_file will be populated with the string 'wholesale_customers.csv'.
def read_csv_2(data_file):
      
    df = pd.read_csv(data_file,index_col=False, skipinitialspace = True)
    df = df.drop(['Channel', 'Region'], axis=1)    
    df.replace(to_replace=[r' ?', r'?', r'? ', r' ', r''], value=[np.nan, np.nan, np.nan, np.nan, np.nan], regex=False, inplace=True)
    
    return df

In [40]:
# Return a pandas dataframe with summary statistics of the data.
# Namely, 'mean', 'std' (standard deviation), 'min', and 'max' for each attribute.
# These strings index the new dataframe columns. 
# Each row should correspond to an attribute in the original data and be indexed with the attribute name.
def summary_statistics(df):
    
    index_labels=['mean', 'standard deviation', 'minimum', 'maximum']
    df_summary = pd.DataFrame([df.mean().astype(int), df.std().astype(int), 
                               df.min().astype(int), df.max().astype(int) ], 
                              index=index_labels)
    
    return df_summary

In [35]:
# Given a dataframe df with numeric values, return a dataframe (new copy)
# where each attribute value is subtracted by the mean and then divided by the
# standard deviation for that attribute.
def standardize(df):
    
    df_summary = summary_statistics(df)
    for column in df.columns:
        df[column] = (df[column] - df_summary[column]['mean'])/df_summary[column]['standard deviation']
    
    return df

In [63]:
# Given a dataframe df and a number of clusters k, return a pandas series y
# specifying an assignment of instances to clusters, using kmeans.
# y should contain values in the set {0,1,...,k-1}.
def kmeans(df, k):
    # source: https://realpython.com/k-means-clustering-python/
    kmeans = KMeans( init="random", n_clusters=k, n_init=10, max_iter=300)
    kmeans.fit(df)
    
    return pd.Series(kmeans.labels_)

In [ ]:
# Given a dataframe df and a number of clusters k, return a pandas series y
# specifying an assignment of instances to clusters, using kmeans++.
# y should contain values from the set {0,1,...,k-1}.
def kmeans_plus(df, k):
	pass

In [93]:
# Given a dataframe df and a number of clusters k, return a pandas series y
# specifying an assignment of instances to clusters, using agglomerative hierarchical clustering.
# y should contain values from the set {0,1,...,k-1}.
def agglomerative(df, k):
    
    clustering = AgglomerativeClustering(n_clusters = k)
    clustering.fit(df)
    
    # Visualizing the clustering
    #     plt.figure(figsize =(6, 6))
    #     plt.scatter(df.iloc[:, 0], df.iloc[:, 1], clustering.labels_, cmap ='rainbow')
    #     plt.show()
    
    return clustering.labels_

In [101]:
# Given a data set X and an assignment to clusters y
# return the Solhouette score of the clustering.
def clustering_score(X,y):
    
    silhouette_scores = silhouette_score(X, y)
    
    return silhouette_scores

In [ ]:
# Perform the cluster evaluation described in the coursework description.
# Given the dataframe df with the data to be clustered,
# return a pandas dataframe with an entry for each clustering algorithm execution.
# Each entry should contain the: 
# 'Algorithm' name: either 'Kmeans' or 'Agglomerative', 
# 'data' type: either 'Original' or 'Standardized',
# 'k': the number of clusters produced,
# 'Silhouette Score': for evaluating the resulting set of clusters.
def cluster_evaluation(df):
	pass

In [ ]:
# Given the performance evaluation dataframe produced by the cluster_evaluation function,
# return the best computed Silhouette score.
def best_clustering_score(rdf):
	pass

In [ ]:
# Run some clustering algorithm of your choice with k=3 and generate a scatter plot for each pair of attributes.
# Data points in different clusters should appear with different colors.
def scatter_plots(df):
	pass

### Answers

In [95]:
df = read_csv_2('Wholesale customers data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fresh             440 non-null    int64
 1   Milk              440 non-null    int64
 2   Grocery           440 non-null    int64
 3   Frozen            440 non-null    int64
 4   Detergents_Paper  440 non-null    int64
 5   Delicassen        440 non-null    int64
dtypes: int64(6)
memory usage: 20.8 KB

In [96]:
df.head(4)

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788

In [97]:
# 1. [10 points] Compute the mean, standard deviation, minimum, and maximum value for each
# attribute. Round the mean and standard deviation to the closest integers.
df_summary = summary_statistics(df)
df_summary.head()

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
mean,12000,5796,7951,3071,2881,1524
standard deviation,12647,7380,9503,4854,4767,2820
minimum,3,55,3,25,3,3
maximum,112151,73498,92780,60869,40827,47943

In [109]:
# 2. [20 points] Divide the data points into k clusters, for k âˆˆ {3, 5, 10}, using 
# kmeans and agglomerative hierarchical clustering. 
# Because the performance of kmeans (e.g. number of iterations) is significantly affected 
# by the initial cluster center selection, repeat 10 executions of kmeans for each k value. 
k = (3, 5, 10)

print('k mean clustering:\n')
for k_i in k:
    for i in range(10):
        y = kmeans(df, k_i)
        # print(y)

print('\nagglomerative hierarchical clustering:\n')
for k_i in k:
    c = agglomerative(df, k_i)
    # print(c)

k mean clustering:


agglomerative hierarchical clustering:

In [99]:
# Next, standardize each attribute value by subtracting with the mean and then
# dividing with the standard deviation for that attribute. 
df = standardize(df)
df.head(4)

      Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicassen
0  0.052898  0.523035 -0.041040 -0.588587         -0.043424   -0.065957
1 -0.390844  0.543902  0.170157 -0.269674          0.086428    0.089362
2 -0.446509  0.408130 -0.028096 -0.137206          0.133207    2.241135
3  0.100024 -0.623306 -0.392508  0.686650         -0.498007    0.093617

In [110]:
# Repeat the previous kmeans and agglomerative hierarchical clustering executions 
# with the standardized data set. 
k = (3, 5, 10)
print('k mean clustering:\n')
for k_i in k:
    for i in range(10):
        y = kmeans(df, k_i)
        # print(y)
        score = clustering_score(df,y)
        print(score)
        
print('\nagglomerative hierarchical clustering:\n')        
for k_i in k:
    c = agglomerative(df, k_i)
    score = clustering_score(df,c)
    print(score)

k mean clustering:

0.53913106645641
0.5482912545806091
0.543861452995114
0.5482912545806091
0.33392224634163403
0.532324060468781
0.3396925980040233
0.34777580400322394
0.4014025939914491
0.33392224634163403
0.35441092472561925
0.3515678964407184
0.37162866546610884
0.366305378582864
0.37162866546610884
0.3527244780702412
0.37162866546610884
0.3647975889546364
0.36364688679011864
0.3570127351071765
0.2545877015787855
0.2874513807673378
0.30354203571117117
0.2859441652702221
0.28614078660961484
0.3073617027728237
0.2854212647765985
0.28671006098059837
0.24999891662021226
0.3034283109197725

agglomerative hierarchical clustering:

0.26461244827813024
0.2398816349597083
0.27954308506388986

In [ ]:
# Identify which run resulted in the best set of clusters using the Silhouette score 
# as your evaluation metric.

In [ ]:
# Visualize the best set of clusters computed in the previous question. 
# For this, construct a scatterplot for each pair of attributes using Pyplot. 
# Therefore, 15 scatter plots should be constructed in total.
# Different clusters should appear with different colors in each scatter plot. Note that these plots
# could be used to manually assess how well the clusters separate the data points.